body{
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.images{
    text-align: center;
    max-width: 100%;
}
#head{
    width: 130vh;
    height: 110px;
    left: 600px
}

nav{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
}
#genre{
    width: 140px;
    height: 30px;
    background-image: linear-gradient(to right, rgb(186, 76, 255),rgb(97, 0, 194));
    border-radius: 50px 0px 0px 50px;
    border: 1px solid rgb(67, 6, 128);
    color: rgb(255, 255, 255);
}

.gbutton{
    width: 100px;
    background-color: rgb(97, 31, 194);
    transition: transform .2s;
    border: 1px solid rgb(67, 6, 128);
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
    font-size: 13px;
}
.gbutton:hover,
#genre:hover{
    background-color: rgb(44, 0, 116);
    transform: scale(1.06);
}

artists{
    display: flex;
    justify-content: center;
}
.blues{
    width: 80px;
    height: 92px;
    transition: transform .2s;
    margin-left: 20px;
}
.blues:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.neoSoul{
    width: 80px;
    transition: transform .2s;
    margin-left: 20px;
}
.neoSoul:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.soulz{
    width: 80px;
    transition: transform .2s;
    margin-left: 20px;
}
.soulz:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.reggae{
    width: 80px;
    transition: transform .2s;
    margin-left: 20px;
}
.reggae:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.box{
    position: absolute;
    width: 98vh;
    height: 480px;
    background-image: linear-gradient(to top, rgba(186, 76, 255, 0.094),rgba(97, 0, 194, 0.371));
    border: 2px solid rgba(0, 0, 0, 0.338);
    border-radius: 30px;
    top: 35vh;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.685);
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.music-player{
    position: absolute;
    width: 47vh;
    height: 460px;
    border-radius: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.915),rgba(46, 0, 91, 0.704));
    border: 2px solid rgba(0, 0, 0, 0.338);
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.685);
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    left: 0;
}

.disk{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 262px;
    height: 269px;
    background-image: url('https://i.pinimg.com/736x/ec/d7/48/ecd7480302cb96f77c8aa203cafa2c15.jpg');
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.685);
    background-size: contain;
}

.song-slider{
    position: relative;
    width: 95%;
    margin-left: 5px;
}

.seek-bar{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background: rgb(255, 94, 0);
    box-shadow: -400px 0 0 400px rgb(130, 36, 185);
}

.song-duration,
.current-time{
    font-size: 14px;
}
.song-duration{
    position: absolute;
    right: 0;
}
/* */
.controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.play-btn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: none;
}
.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 7px;
    height: 20px;
    border-radius: 2px;
    background-color: black;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50% );
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.play-btn.pause{
    animation: pulse 2s linear infinite;
}

@keyframes pulse{
    0%{
        box-shadow:0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4) ;
    }
}

.hidden{
    display: none;
}

#decor{
    position: absolute;
    width: 300px;
    left: 0;
    margin-left: 1em;
}
#poster{
    position: absolute;
    left: 0;
    margin-top: 23vh;
    margin-left: 1em;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    width: 300px;
    height: 340px;
    background-image: url('https://i.pinimg.com/1200x/26/d1/e2/26d1e2974cdb0da1bd913f94775cda82.jpg');
    background-size: contain;
    border-radius: 7%;
}