body{
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-width: 100%;
}
.images{
    text-align: center;
    max-width: 100%;
}
#beyonce{
    width: 80vh;
    left: 600px
}

nav{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
}

#genre{
    width: 140px;
    height: 30px;
    background-image: linear-gradient(to right, rgb(186, 76, 255),rgb(97, 0, 194));
    border-radius: 50px 0px 0px 50px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(67, 6, 128);
}
.gbutton{
    width: 100px;
    background-color: rgb(97, 31, 194);
    transition: transform .2s;
    border: 1px solid rgb(67, 6, 128);
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
    font-size: 13px;
}

button:hover{
    background-color: rgb(44, 0, 116);
    transform: scale(1.06);
}

artists{
    display: flex;
    justify-content: center;
}
.blues{
    width: 100px;
    transition: transform .2s;
    margin-left: 20px;
}

.blues:hover{
    transform: scale(1.3);
}

.hidden{
    display: none;
}
